<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894808268451-tjl02nvgipmj4q5dkb00nli856g7411n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894808268451-tjl02nvgipmj4q5dkb00nli856g7411n</string>
	<key>API_KEY</key>
	<string>AIzaSyAmq5lFAi9RJ5GC2N5w_BrcNA8SEVit400</string>
	<key>GCM_SENDER_ID</key>
	<string>894808268451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ankprj</string>
	<key>PROJECT_ID</key>
	<string>pnrkuru-c5b17</string>
	<key>STORAGE_BUCKET</key>
	<string>pnrkuru-c5b17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894808268451:ios:3681270f371e909be26916</string>
</dict>
</plist>